@model Vu_Project.Models.Category

@{
    ViewBag.Title = "Create";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section CustomStyle
{
    <!-- This page plugin CSS -->
    <link href="~/web/AdminTemplate/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />*@

}
<h2>Create</h2>

<div class="page-wrapper">

    

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <h2 class="panel-title text-info">Create Category</h2>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { id = "CategoryForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-2">Image</label>
                                    <div class="col-md-10">
                                        <input type="file" id="file1" name="photo" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

          
            </div>
        </div>
    </div>

 

</div>


@section CustomScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
