@using Microsoft.AspNet.Identity

<div class="header-right">

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()
            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        @*@Html.ActionLink("Login","Login","Account",new {@class="account" })*@
        <a class="account" href="@Url.Action("Login","Account")">Login</a>
        <span class="active R-trigger" style="margin-left:10px">@Html.ActionLink("Register", "Register", "Account")</span>
        <!-- Large modal -->
        <div class="selectregion">

        </div>
        @*<ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>*@
    }


</div>